<!DOCTYPE html>
<html >
  <head>
    <title>DataTable</title>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

   
    <link rel="shortcut icon" href=" ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
            <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
      <script src="http://desa.antsgsm.com/ants/libs/Editor-2.0.4/js/dataTables.editor.js" ></script>           

  </head>
  
  <body>
    <table id="tableData" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>OrderId</th>
                <th>OrderAmount</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>ZipCode</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>TrackingNumber</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        
    </table>
    

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">OrderId:</label>
                  <input type="text" class="form-control" id="orderid">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">OrderAmount:</label>
                  <input type="text" class="form-control" id="orderamount">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Name:</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Address:</label>
                  <input type="text" class="form-control" id="address">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">City:</label>
                  <input type="text" class="form-control" id="city">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">State:</label>
                  <input type="text" class="form-control" id="state">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">ZipCode:</label>
                  <input type="text" class="form-control" id="zipcode">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">PhoneNumber:</label>
                  <input type="text" class="form-control" id="phonenumber">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Email:</label>
                  <input type="text" class="form-control" id="email">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">TrackingNumber:</label>
                  <input type="text" class="form-control" id="trackingnumber">
                </div>
              </form>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="updateBTN">Update</button>
          </div>
        </div>
      </div>
    </div>
          <script>

          $(() =>{
              let table = $('#tableData').DataTable({
              processing:true,
              "serverSide":true,
              ajax: {
                method:"POST",
                url: '/productOrder/search'                
              },
              aoColumns: [
                  { "mData": 'OrderId' },
                  { "mData": 'OrderAmount' },
                  { "mData": 'Name' },
                  { "mData": 'Address' },
                  { "mData": 'City' },
                  { "mData": 'State' },
                  { "mData": 'ZipCode' },
                  { "mData": 'PhoneNumber' },
                  { "mData": 'Email' },
                  { "mData": 'TrackingNumber' },
                  { "mData": null ,
                    render:function (data, type, row)
                    {
                      return `<button type="button" name="delete" id="btnDelete" class="btnclass">Delete</button>`;
                    },
                  },
                  { "mData": null ,
                    render:function (data, type, row)
                    {
                      return `<button type="button" class="update btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="Order">Edit</button>`;
                    },
                  },
    

                ]
            })
            var data;

            $('#tableData tbody').on( 'click', 'tr', function () {
                console.log(table.row(this).data());
                data = table.row(this).data();
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $("#tableData").on("click",".btnclass",function(e){
              console.log("Data2 : ",data);
              let name = {
                Name : data.Name
              }
              console.log(name);

             $.ajax({
              type:"delete",
              url:"/productOrder/deleteItem",
              data:name,
          
              success:function(result,status,xhr){
                table.ajax.reload();
                
                console.log(result);
              },
              error: function(error){
                console.log(error);
                alert("error")           
              }
              })

            });
            $("#tableData").on("click",".update",function(e){
              console.log(data);
              let orderid = data.OrderId;
              let orderamount = data.OrderAmount;
              let name = data.Name;
              let address = data.Address;
              let city = data.City;
              let state = data.State;
              let zipcode = data.ZipCode;
              let phonenumber = data.PhoneNumber;
              let email = data.Email;
              let trackingnumber = data.TrackingNumber;

              $("#orderid").val(orderid);
              $("#orderamount").val(orderamount);
              $("#name").val(name);
              $("#address").val(address);
              $("#city").val(city);
              $("#state").val(state);
              $("#zipcode").val(zipcode);
              $("#phonenumber").val(phonenumber);
              $("#email").val(email);
              $("#trackingnumber").val(trackingnumber);
              
              //console.log("edit is clicked");
            })

            $("#updateBTN").click(() => {
              let updatedData = {
                OrderId:$("#orderid").val(),
                OrderAmount:$("#orderamount").val(),
                Name: $("#name").val(),
                Address:$("#address").val(),
                City:$("#city").val(),
                State:$("#state").val(),
                ZipCode:$("#zipcode").val(),
                PhoneNumber:$("#phonenumber").val(),
                Email:$("#email").val(),
                TrackingNumber:$("#trackingnumber").val()
              }
              console.log(updatedData);

              $.ajax({
                method:"PUT",
                url:"/productOrder/updateOrder",
                data:updatedData,
                success:function(result,status,xhr){
                  console.log(result);
                  alert("Data Updated")             
                },
                error: function(error){
                  console.log(error);
                  alert("Data is not updated");           
                }
              })


            })

      });

         var exampleModal = document.getElementById('exampleModal');
              exampleModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget
                var recipient = button.getAttribute('data-bs-whatever')
                var modalTitle = exampleModal.querySelector('.modal-title')
                var modalBodyInput = exampleModal.querySelector('.modal-body input')

                modalTitle.textContent = 'New message to ' + recipient
                modalBodyInput.value = recipient
              })
            

         
          </script>
  
  </body>
  
  
  </html>
